
@{
    ViewBag.Title = "Help about AART";
    Layout = "~/Views/Shared/_HelpLayout.cshtml";
}

<h2>Help</h2>
<p><strong>To log into your AART tool on a computer:</strong></p>
<p></p>
<ol>
    <li>Go to <strong>AART</strong> application under <strong>Username or Email</strong>, enter one of the following:</li>
</ol>
<ul>
    <li><strong>Email:</strong> You can log in with any email that's listed on your <strong>AART</strong></li>
    <li><strong>Username:</strong> You can also log in with your username, if you set one up.</li>
</ul>
<ol start="2">
    <li>Under<strong> Password</strong>, enter your password.</li>
    <li>Click <strong>Log In</strong>.</li>
</ol>
<p>If you're having a problem logging in:</p>
<ul>
    <li>If user forgets the password click on Forgot Password option.</li>
    <li>A new screen will appear there you can enter Username or Email.</li>
    <li>A mail is sent to you with your password.</li>
    <li>If user is Locked or Suspended. You can contact to administration.</li>
</ul>
<p></p>
<p><strong>To log in as Sysadmin:</strong></p>
<p></p>
<ol>
    <li>Go to <strong>AART</strong> application and enter <strong>Username or Email </strong>and <strong>Password</strong>.</li>
</ol>
<ul>
    <li>Click <strong>Log In</strong>.</li>
</ul>
<ol start="2">
    <li>Admin can view his dashboard.</li>
    <li>Admin can add new User and he/she can update the user information.</li>
    <li>Admin can add new Role and he/she can update the role.</li>
    <li>Admin can add new report for the product.</li>
    <li>Admin can see the Audit Trial.</li>
</ol>
<p></p>
<p><strong>To log in as Manager:</strong></p>
<p></p>
<ol>
    <li>Go to <strong>AART</strong> application and enter <strong>Username or Email </strong>and <strong>Password</strong>.</li>
</ol>
<ul>
    <li>Click <strong>Log In</strong>.</li>
</ul>
<ol start="2">
    <li>Manager can view the <strong>Dashboard</strong>.</li>
    <li>Manager can add new report for the <strong>Product</strong>.</li>
    <li>Manager can conduct the <strong>KICK Off Meeting</strong>.</li>
    <li>Manager can Edit, Submit, Accept, Revert the activities and sections and can view the comments.</li>
    <li>Manager can see progress of Activities and Sections.</li>
    <li>Manager can see the <strong>Audit Trial</strong>.</li>
</ol>
<p></p>
<p></p>
<p><strong>To log in as Lead Author:</strong></p>
<p></p>
<ol>
    <li>Go to <strong>AART</strong> application and enter <strong>Username or Email </strong>and <strong>Password</strong>.</li>
</ol>
<ul>
    <li>Click <strong>Log In</strong>.</li>
</ul>
<ol start="2">
    <li>Lead Author can view the <strong>Dashboard</strong>.</li>
    <li>Lead Author can conduct the <strong>KICK Off Meeting</strong>.</li>
    <li>Lead Author can Edit, Submit, Accept, Revert the activities and sections and can view the comments.</li>
    <li>Lead Author can see progress of Activities and Sections.</li>
    <li>Lead Author can see the <strong>Audit Trial</strong>.</li>
</ol>
<p></p>
<p><strong>To log in as User:</strong></p>
<p></p>
<ol>
    <li>Go to <strong>AART</strong> application and enter <strong>Username or Email </strong>and <strong>Password</strong>.</li>
</ol>
<ul>
    <li>Click <strong>Log In</strong>.</li>
</ul>
<ol start="2">
    <li>User can view the <strong>Dashboard</strong>.</li>
    <li>User can Edit and Submit the activities and sections assigned to him and he/she can view the comments.</li>
</ol>