
@{
    ViewBag.Title = "Home Page";
}
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
@*<script src="~/GeneralJscripts/TelerikScripts/jquery.min.js"></script>
<script src="~/GeneralJscripts/TelerikScripts/jszip.min.js"></script>
<script src="~/GeneralJscripts/TelerikScripts/kendo.all.min.js"></script>

<link href="~/GeneralJscripts/TelerikCSS/kendo.common.min.css" rel="stylesheet" />
<link href="~/GeneralJscripts/TelerikCSS/kendo.common.min.css" rel="stylesheet">
<link href="~/GeneralJscripts/TelerikCSS/kendo.rtl.min.css" rel="stylesheet">
<link href="~/GeneralJscripts/TelerikCSS/kendo.default.min.css" rel="stylesheet">
<link href="~/GeneralJscripts/TelerikCSS/kendo.default.mobile.min.css" rel="stylesheet">*@
<script>
  $(document).ready(function () {
        $.ajax({
            url: '@Url.Action("GetProDocByUser","Home")',
            type: 'post',
            async: false,
            datatype: 'application/json',
              success: successFunc,
            error: errorFunc
        });
        function successFunc(data, status) {
            var element = $("#grid").kendoGrid({
                dataSource:
                {
                    data: JSON.parse(data),
                    schema: {
                        model: {

                            fields: {
                                id: { type: "string", editable: false, nullable: true, validation: { required: true } },
                                product_name: { type: "string", editable: false, validation: { required: true } },
                                document_name: { type: "string", editable: false, validation: { required: true } },
                                status: { type: "string", editable: false, validation: { required: true } },

                            }
                        }
                    }
                },
                columns: [
                    { field: "product_name", title: "Product Name", width: "110px" },
                    { field: "document_name", title: "Document Name" },
                    { field: "status", title: "Status", template: '<a class="#:status==\"In Progress\"? \"blue\" : status==\"Submit\"? \"green\" : status==\"Not Yet Started\"? \"orange\" :\"white\"#"  href="@Server.UrlDecode(Url.Action("Authoring", "Home", new { pro_doc_id = "#=id#" }))">#=status#</a>' },
                ],
                height: 550,
                sortable: true,
                pageable: false,

            });
        }
        function errorFunc() {
            alert('error');
        }

    });

</script>
<div>
    <div id="grid"></div>
    <input type="submit" value="submit" onclick="gettextvalue();">
</div>

